header {
    background-color: #e1aef8;
    text-align: center;
    padding: 20px;
    margin: 5px 5px 15px 5px;
  }
  
  .img {
    float: left; 
  }

  nav {
    overflow: hidden;
    background-color: rgb(103, 97, 105);
  }

  nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: #ddd;
    color: black;
  }

  a:visited{
    color: rgb(240, 174, 174);
  }

  footer {
    background-color:rgb(103, 97, 105);
    text-align: left;
    padding: 10px;
    margin: 15px 5px 5px 5px;
  }

  footer a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }

  footer a:hover{
    background-color: #ddd;
    color: black;
  }

  footer h5{
    text-align: center;
    color: #ddd;
  }

  h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 3px 2px rgb(103, 97, 105);
  }

  * {box-sizing: border-box}

  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus{
  background-color: #ddd;
  outline: none;
}

.container1{
  padding: 16px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #faf3fd;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color: #a904ca;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:0.8;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #9d7da1;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e7cef0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 15px 12px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
}

.aall{
  background-color: #f2f2f2;
  margin: auto;
  padding: 30px 30px;
  border:5px solid #9d7da1 ;
  height: 900px;
}

.product{
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
  border: 5px solid #9d7da1;
}

.product img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px 10px;
}

.products p{
  text-align: center;
}

.indexclass{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 10px 10px; 
}

.btn1{
  float: left;
  background-color: rgb(174, 128, 201);
  color: white;
  border: 3px solid #8e00e0;
  border-radius: 12px;
  padding: 12px 28px;
  width: 50%;
  font-size: medium;
  transition-duration: 0.5s;
}

.btn1:hover {
  box-shadow: 0 18px 16px 0 rgba(0, 0, 0, 0.24), 0 25px 50px 0 rgba(0,0,0,0.19);
  background-color: white;
  color: black;
}